#waybar {
    background: alpha(@base00, 0.75);
}

#window,
#custom-launcher,
#tray,
#network,
#wireplumber,
#pulseaudio,
#cpu,
#memory,
#clock,
#battery {
    padding: 0 8px;
}

#custom-launcher:hover {
    background-color: @base02;
}

.modules-left,
.modules-right {
    background: @base00;
    border: 1px solid alpha(@base05, 0.2);
    border-radius: 8px;
    margin: 4px;
}

.modules-left:first-child,
.modules-right:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.modules-left:last-child,
.modules-right:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#workspaces button {
    border-radius: 0;
}

#workspaces button.focused,
#workspaces button.active {
    background-color: @base02;
}

#network {
    background-color: alpha(@base09, 0.2);
}

#battery {
    background-color: alpha(@base0A, 0.2);
}

#cpu {
    background-color: alpha(@base0B, 0.2);
}

#memory {
    background-color: alpha(@base0C, 0.2);
}

#wireplumber,
#pulseaudio {
    background-color: alpha(@base0D, 0.2);
}